:root {
    color-scheme: dark;
}

blockquote {
    margin-left: 32px;
    border-left: none !important;
    color: unset !important;
}

blockquote ul {
    padding: 0;
}

code {
    word-break: keep-all !important;
}

table {
    font-size: 0.69rem !important;
}

.md-grid {
    max-width: 70rem !important;
}